#app[data-current-page=Search],
{
    #search_sticky_header,
    {
        background-color: #FFF;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    #input_parameters_fieldset,
    {
        background-image: url("../../assets/BackgroundDots_4x4.gif");
        border: 2px solid $gray-600;
        box-shadow: 4px 4px 0 lighten($gray-600, 25%);
    }

    #matched_listings_list,
    {
        //border: 1px solid $gray-600;
        font-size: 140%;
        margin: 0;
        padding: 0;

        &:empty:after,
        {
            color: #888;
            content: 'Matched listings that have been found are shown here.';
            font-style: italic;
        }



        li.matched_listing,
        {
            border-bottom: 1px solid $gray-600;
            display: flex;
            flex-direction: row;
            padding: 0.5rem;

            &:nth-of-type(even) {
                background-color: #f2f2f2;
            }

            .matched_listing_thumbnail,
            {
                align-items: center;
                background-color: #fff;
                border: 2px solid $gray-500;
                box-shadow: 4px 4px 0 lighten($gray-500, 15%);
                cursor: pointer;
                display: flex;
                justify-content: center;
                height: 100px;
                min-height: 100px;
                min-width: 100px;
                width: 100px;

                &[data-event-action]:hover,
                {
                    border-color: map-get($custom-colors, 'branding');
                    box-shadow: 4px 4px 0 lighten(map-get($custom-colors, 'branding'), 25%);
                }

                & img,
                {
                    max-height: 100%;
                    max-width: 100%;
                    width: 100%;
                }
            }



        }


    }
}
