@charset "UTF-8";

.icon-floppy-disk:before { content: '\e05a'; } /* '' */
.icon-locked:before { content: '\e800'; } /* '' */
.icon-unlocked:before { content: '\e801'; } /* '' */
.icon-skull:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-email:before { content: '\e804'; } /* '' */
.icon-power:before { content: '\e805'; } /* '' */
.icon-cog:before { content: '\e807'; } /* '' */
.icon-cogs:before { content: '\e808'; } /* '' */
.icon-bell-inverted:before { content: '\e809'; } /* '' */
.icon-pencil:before { content: '\e80a'; } /* '' */
.icon-ok:before { content: '\e80b'; } /* '' */
.icon-checkbox-checked:before { content: '\e80c'; } /* '' */
.icon-checkbox-unchecked:before { content: '\e80d'; } /* '' */
.icon-filter:before { content: '\e80e'; } /* '' */
.icon-magic-wand:before { content: '\e80f'; } /* '' */
.icon-ok-circled:before { content: '\e810'; } /* '' */
.icon-play:before { content: '\e811'; } /* '' */
.icon-attention:before { content: '\e812'; } /* '' */
.icon-barcode:before { content: '\e813'; } /* '' */
.icon-attention-alt:before { content: '\e814'; } /* '' */
.icon-plus:before { content: '\e815'; } /* '' */
.icon-minus:before { content: '\e816'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-cancel-circled:before { content: '\e818'; } /* '' */
.icon-plus-circled:before { content: '\e819'; } /* '' */
.icon-star:before { content: '\e81c'; } /* '' */
.icon-minus-circled:before { content: '\e81d'; } /* '' */
.icon-link:before { content: '\e81e'; } /* '' */
.icon-paper-clip:before { content: '\e81f'; } /* '' */
.icon-wrench:before { content: '\e820'; } /* '' */
.icon-logout:before { content: '\e821'; } /* '' */
.icon-heart:before { content: '\e822'; } /* '' */
.icon-heart-inverted:before { content: '\e823'; } /* '' */
.icon-sword:before { content: '\e824'; } /* '' */
.icon-star-inverted:before { content: '\e825'; } /* '' */
.icon-user:before { content: '\e829'; } /* '' */
.icon-users:before { content: '\e82a'; } /* '' */
.icon-clone:before { content: '\e831'; } /* '' */
.icon-eye:before { content: '\e837'; } /* '' */
.icon-eye-disabled:before { content: '\e838'; } /* '' */
.icon-eye-of-horus:before { content: '\e839'; } /* '' */
.icon-star-half:before { content: '\f022'; } /* '' */
.icon-star-half-inverted:before { content: '\f024'; } /* '' */
.icon-bell:before { content: '\f0f3'; } /* '' */
.icon-bell-disabled:before { content: '\f1f6'; } /* '' */
.icon-bell-disabled-inverted:before { content: '\f1f7'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-at:before { content: '\f1fa'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-document-copy:before { content: '\f24d'; } /* '' */
.icon-trademark:before { content: '\f25c'; } /* '' */
.icon-registered:before { content: '\f25d'; } /* '' */
.icon-user-profile:before { content: '\f2bd'; } /* '' */
.icon-user-profile-inverted:before { content: '\f2be'; } /* '' */
.icon-spin1:before { content: '\f529'; } /* '' */
.icon-home:before { content: '🔔'; } /* '\1f514' */
